$fontSize: 1.3rem;
$fontFamily: 'SF Pro Display';
$transparentColor: transparent;
$rgbaColor: rgba(163, 203, 231, 0.7);
$bgColor: rgba(0, 0, 0, 1);
$borderColor: #ffffff;
$borderRadius: 12px;
$paddingValue: 8px;

* {
  transition: 200ms ease;
  font-family: $fontFamily;
  font-size: $fontSize;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: $transparentColor;
}

#match:selected {
  background: $rgbaColor;
}

#match {
  padding: 3px;
  border-radius: $borderRadius;
}

#entry,
#plugin:hover {
  border-radius: $borderRadius;
}

box#main {
  background: $bgColor;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: $paddingValue;
}
