* {
  font-family: 'SF Pro Display';
  color: #ffffff;
  font-size: 1rem;
}

#window {
  background-color: transparent;
}

box#main {
  border-radius: 12px;
  background-color: #000000;
  border: 2px solid #ffffff;
  padding: 8px;
}

row:first-child {
  margin-top: 6px;
}

entry#entry {
  min-height: 30px;
  border-radius: 12px;
  background: transparent;
  box-shadow: none;
  border: none;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
}

#plugin {
  padding-bottom: 5px;
}

#match {
  padding: 2.5px;
}

#match:selected {
  background: #89b4fa;
  border-radius: 8px;
}

#match:selected label#info {
  color: #000000;
  animation: fade 0.1s linear;
}

row#match:selected label {
  color: #000000;
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #000000;
  }
}

#match label#info {
  color: transparent;
}

#match:hover {
  background: transparent;
}

label#match-desc {
  font-size: 10px;
  color: #d0d0d0;
}

label#plugin {
  font-size: 14px;
}
